<div id="wrapper">
  <form id="bookSearchForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">書籍編號</th>
        <th scope="col">書籍名稱</th>
        <th scope="col">書籍類別</th>
        <th scope="col">作者</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookData">
        <th scope="row">{{ book.BookId}}</th>
        <td>{{ book.BookName }}</td>
        <td>{{ book.BookCategory }}</td>
        <td>{{ book.BookAuthor }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th>列車進入月台車站之站名</th>
      <th>行駛目的地</th>
      <th>資料更新日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of list; index as idx">
    <tr *ngFor = "let item of list; let idx = index"></tr>
      <td>{{ idx + 1 }}</td>
      <td>{{ item.Station }}</td>
      <td>{{ item.Destination }}</td>
      <td>{{ item.UpdateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="addMessage()">
  <p>
    名稱：<input type="text" name="name" [(ngModel)]="name">
  </p>

  <p>
    內容：<input type="text" name="content" [(ngModel)]="content">
  </p>

  <p>
    <button type="submit">新增留言</button>
  </p>
</form>

<ng-container *ngFor="let message of messages">
  <p>
    留言人： {{ message.name }}
  </p>

  <p>
    訊息內容：{{ message.content }}
  </p>

  <p>
    時間：{{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>

</ng-container> -->
