<button kendoButton (click)="openAddBookDialog()">新增書籍</button>
<!-- 使用kendo-window不會有遮罩效果 -->
<kendo-dialog [title]="isAddBookMode? '新增書籍資料' : '修改書籍資料'" *ngIf="bookDialogMode" (close)="closeBookDialog()" [minWidth]="250" [width]="450">

  <form class="k-form" (ngSubmit)="isAddBookMode? addBook(): updateBook()">
    <fieldset>
        <img src="../../assets/image/{{selectedBookCategoryItem.value}}.jpg" alt="" width="300" height="200">
        <label class="k-form-field">
          <span>書籍種類</span>
          <kendo-dropdownlist name="selectedBookCategoryItem"
            [data]="bookCategoryItems"
            textField="text"
            valueField="value"
            [(ngModel)]="selectedBookCategoryItem"
            (selectionChange)="changeBookCategory($event)"
          >
          </kendo-dropdownlist>
        </label>
        <label class="k-form-field">
            <span>書籍名稱</span>
            <input class="k-textbox" placeholder="書籍名稱..." name="bookName" [(ngModel)]="bookName"/>
        </label>
        <label class="k-form-field">
          <span>書籍作者</span>
          <input class="k-textbox" placeholder="書籍作者..." name="bookAuthor" [(ngModel)]="bookAuthor"/>
      </label>
      <label class="k-form-field">
        <span>購書日期</span>
        <kendo-datepicker [(value)]="bookBoughtDate" [format]="'yyyy-MM-dd'"></kendo-datepicker>
      </label>
    </fieldset>

    <div class="text-right">
        <button type="button" class="k-button" >Cancel</button>
        <button *ngIf="isAddBookMode" type="submit" class="k-button k-primary">新增書籍</button>
        <button *ngIf="!isAddBookMode" type="submit" class="k-button k-primary">修改書籍</button>
    </div>
  </form>
</kendo-dialog>
<kendo-grid *ngIf="getBookList().length"
  [data]="gridView"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [sortable]="true"
  (pageChange)="pageChange($event)"
  (remove)="removeHandler($event)"
  (edit)="editHandler($event)"
  >
  <kendo-grid-column field="BookId" title="書籍編號" width="10%" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="BookName" title="書籍名稱" width="45%">
  </kendo-grid-column>
  <kendo-grid-column field="BookCategory" title="書籍種類" width="15%">
  </kendo-grid-column>
  <kendo-grid-column field="BookAuthor" title="書籍作者" width="20%">
  </kendo-grid-column>
  <kendo-grid-column field="BookBoughtDate" title="購書日期" width="20%">
  </kendo-grid-column>
  <kendo-grid-command-column title="" width="15%">
    <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand class="k-primary">修改</button>
        <button kendoGridRemoveCommand>刪除</button>
    </ng-template>
</kendo-grid-command-column>

</kendo-grid>
