<form class="k-form">
  <fieldset>
      <legend>新增書籍</legend>
      <label class="k-form-field">
          <span>書籍名稱</span>
          <input class="k-textbox" placeholder="書籍名稱..." />
      </label>
      <label class="k-form-field">
          <span>書籍種類</span>
          <input class="k-textbox" placeholder="書籍種類..." />
      </label>
      <label class="k-form-field">
        <span>書籍作者</span>
        <input class="k-textbox" placeholder="書籍作者..." />
    </label>
  </fieldset>

  <div class="text-right">
      <button type="button" class="k-button" >Cancel</button>
      <button type="button" class="k-button k-primary">Submit</button>
  </div>
</form>
<kendo-grid
  [data]="gridView"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [sortable]="true"
  (pageChange)="pageChange($event)"
  (remove)="removeHandler($event)"
  >
  <kendo-grid-column field="BookId" title="書籍編號" width="10%" filter="numeric">
  </kendo-grid-column>
  <kendo-grid-column field="BookName" title="書籍名稱" width="45%">
  </kendo-grid-column>
  <kendo-grid-column field="BookCategory" title="書籍種類" width="15%">
  </kendo-grid-column>
  <kendo-grid-column field="BookAuthor" title="書籍作者" width="20%">
  </kendo-grid-column>
  <kendo-grid-command-column title="" width="15%">
    <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand class="k-primary">修改</button>
        <button kendoGridRemoveCommand>刪除</button>
    </ng-template>
</kendo-grid-command-column>

</kendo-grid>
